*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body{
  background-color: black !important;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.text-color{
  color: #FFF !important;
  
}
.text-websize{
  font-size: 20px !important;
}

.dropdown-menu .adj-hover:hover {
  background-color: #333 !important;
}
.navbar .navbar-nav .nav-anime:hover{
  border-style:solid;
  border-width: 1px;
  border-image: conic-gradient(from var(--angle), transparent 50%,orange,red) 1;
  animation: spin 1.5s linear infinite; 
 
}
.offer-des .btn-animation{
  color:white;
 border: 1px solid ;

border-image:conic-gradient(transparent 10%,orange,red,yellow) 1; 
  animation: spin 1.5s linear infinite;
}
.offer-des .btn-animation:hover{
  border-image:conic-gradient(from var(--angle),transparent 10%,orange,red,yellow) 1; 
}
.img-con{
  margin-top: 40px;
  width:80vw !important;
  height: 35vh;
 

}


.hero-image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-image p{
  font-size: 20px;
}
.btn-primary{
  background-color: transparent;
  border: 2px solid red;
}
.item-card{

  box-shadow: 4px 4px 8px rgba(243, 242, 242, 0.2);

}
/* ----------------------------------------------------- */
.item-card::after,.item-card::before{
  position: absolute;
  content: "";
  top:50%;
  left:50%;
  height: 101.5%;
  width:102%;
  transform: translate(-50%, -50%);
  background: conic-gradient(from var(--angle), transparent 30%,orange,red);
  border-radius: 8px;
  animation: spin 3s linear infinite; 
  transform-origin: center;
  z-index: -1; 
  transform: scale(0);
}
.item-card:hover::after{
  transform: translate(-50%, -50%) scale(1);
}
.item-card:hover::before{
  transform: translate(-50%, -50%) scale(1);
  filter: blur(1.5rem);
  opacity:0.5
}
.items-container{
  margin-top: 50px;
}

@media (min-width:768px) {
  .img-con{
    
    width:90vw !important;
    height: 70vh;
  
  }
}
@media (max-width:573px) {
  /* .hero-image{
    flex-direction: column;
  } */
  .hero-image h1{
    font-size: 12px !important;

  }
  .hero-image p{
    font-size: 10px !important;
  }
}
@media (max-width:767px) {
  .hero-image h1{
    font-size: 23px;

  }
  .hero-image p{
    font-size: 13px;
  }
}
@keyframes spin{
  from {
    --angle: 0deg; 
  }
  to {
    --angle: 360deg;
  }
}